body {
    font-family: "OpenSans",Verdana,Geneva,sans-serif;
    font-size:13px;
    color:#4F4F4F;
    margin:0px;
    padding:0px;
}

#wrapper{
    margin:0 auto;
    padding:0px;
    width:960px;
}

#header{
    float:left;
    margin:0px;
    padding:0px;
    width:960px;
}

#logo{
    float:left;
    margin:6px 0 0 0;
    padding:0px;		
}

#logo img{
    float:left;
    width:219px;
    height:83px;	
}

#map{
    float:right;
    margin:0px;
    padding:0px;
}

#map img{
    float:right;
    width:69px;
    height:67px;	
}

#logout{
    float:right;
    margin:0px;
    padding:0 10px;
    text-align:right;
    width:200px;
}


#header_nav{
    float:left;
    margin:0 0 0 30px;
    padding:0px;	
    width:711px;

}

#header_nav ul{
    float:left;
    margin:0px;
    padding:0px;
    list-style:none outside none;
    display:inline;
}

#header_nav ul li{
    float:left;
    margin:0px;
    padding:0 10px;
    display:inline;
}

#header_nav ul li a{
    float:left;
    font-style:normal;
    font-size:14px;
    color:#2B4957;
    text-decoration:none;
    text-transform:uppercase;
}

#header_nav ul li a:hover{
    color:#999999;
}

#content_home{
    background:url("../images/bg_header.jpg")no-repeat;
    float:left;
    width:925px;
    margin:0 0 0 27px;
}

#content_home p{
    text-indent: 50px;
}

#content_left{
    float:left;
    margin:35px 30px 0 0;
    padding:0px;
    width:613px;
}

#content_left img{
    float: left;
}

#content_left br{
    clear: both;
}

#content_left p{
    margin-bottom: 0px;
}

#content_right{
    float:right;
    margin:35px 0 0 0;
    padding:0px;
    width:235px;
}

.menusearch{
    
}

#footer{
    border-top:2px solid #cfdd28;
    float:left;
    width:960px;
    margin:5px 0 0 0;
    padding:0px;

}

.box_normal{
    background:url("../images/box_normal.jpg") no-repeat;
    float:left;
    width:222px;
    height:223px;
    margin:0 0 15px;
    padding:10px 20px;
}

input.normal{
    border:1px solid #cecfce;
    width:190px;
    margin:2px 0 0 0;
    padding:2px;
}

.b_normalgreen{
    background: url("../images/b_normalgreen.jpg");
    /*    background: url("../images/skin/frontend/b_normalgreen.jpg")no-repeat;*/
    font-size:13px;
    border:none;
    width:91px;
    height:23px;
    color:white;
    margin:10px 0 0 0 ;
    padding:0 0 4px 0;	
}
.b_normalgreen:hover{
    background: url("../images/b_normalgreen.jpg");
    /*    background: url("../images/skin/frontend/b_normalgreen.jpg")no-repeat;*/
    font-size:13px;
    border:none;
    width:91px;
    height:23px;
    color:#bfec93;/*707070*/
    margin:10px 0 0 0 ;
    padding:0 0 4px 0;	
}

.box_small {
    background: url("../images/box_small.jpg") no-repeat;
    float: left;
    width: 222px;
    height: 174px;
    margin: 0 0 20px;
    padding: 10px 20px;
}


#footer_left{
    float:left;	
    width:400px;
    /*    width:480px;*/
    padding-top: 5px;
}

#footer_right {
    color:#464646;
    float:right;	
    padding-top: 5px;
}

#footer_right a{
    color:#094658;	
}